body {
margin: 0;
font-family: Arial, sans-serif;
}


.landing {
height: 100vh;
background-image: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6');
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
color: white;
}


button {
padding: 10px 20px;
background-color: green;
color: white;
border: none;
cursor: pointer;
}
